table.Table {
  border-collapse: collapse;
  position: relative;
}

.Table tr > * {
  border: 1px solid #bfbfbf;
  padding: 5px 10px;
  text-align: center;
}

.Table thead tr th {
  background: #f1f1f1;
  cursor: pointer;
}

.Table thead:hover::before {
  content: 'drag to move \A click to sort \A shift+click to hide \A alt+click to reset';
  left: 110%;
  color: #afafaf;
  position: absolute;
  white-space: pre;
}